*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center; 
}

nav img{
    width: 100%;

}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero_btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero_btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/*------------products------------*/

.products{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 000;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.product-col{
    flex-basis: 31%;
    background-color: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.product-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*--------------Services-------------------*/

.services .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.services{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.services-col{
    flex-basis: 31%;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    padding: 20px 12px;
}


.services-col img{
    width: 50%;
    border-radius: 20px;
}

.services-col p{
    padding: 0%;
    text-align: left;
}

.services-col h3{
    font-size: medium;
    margin-top: 11px;
    margin-bottom: 10px;
    text-align: left;
}

/*------------footer-----------------*/
.footer{
  margin-top: 150px;
  width: 70%;
  padding: 100px 15%;
  background: #333;
  color: #efefef;
  display: flex;
  

}



.col-1 a:hover{
    transition: all 0.3s ease;
     padding-left: 10px;
     color:#f44336;
}

.social-icons i:hover{
    transition: all 0.3s ease;
     padding-inline: 2px;
     color:#f44336;
}



.footer div{

    text-align: center;
}

.col-2{
    flex-grow: 2;
}


.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
   

}

.footer div p{
    color: #fff;
}

.col-1 a{
    display:block;
    text-decoration: none;
    color:#efefef;
}

form input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}  

form button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;

}

.social-icons{
    margin-top:30px;
}

.social-icons i{
    font-size:22px;
    margin: 10px;
    cursor: pointer;

}

@media(max-width: 700px){
    .footer{
        flex-direction: column;
       
    }
    .col-2{
        align-self: center;
    }
    .footer div{
        padding: 20px;
    }
}

/*-------------testimonial-----------*/
#testimonial{
    width: 100%;
    padding: 70px 0;
}

#testimonial .title-text p{
    font-size: 50px;
    color: #0f0e0e;
    text-align: center;
}

#testimonial .title-text h1{
    font-size: 50px;
    color:coral;
    padding-top: 2%;
    text-align: center;
}

.testimonial-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

}

.testimonial-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0px 10px 20px 3px #00968814;
    cursor: pointer;
    transition: transform .5s;

}

.testimonial-col p{
    font-size: 14px;
}

.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.user-info{
    padding-left: 5%;
}

.user img{
    width: 60px;
    margin-right: 3px;
    border-radius: 3px;
}

.user-info .fa-brands{
    margin-left: 10px;
    color: #27c0ff;
    font-size: 20px;
}

.user-info small{
    color: #009688;
}

.testimonial-col:hover{
    transform: translateY(7px);
}

    

/*-------------products-----------*/


  .col-4{
    flex-basis: 30%;
    padding: 6px;
    min-width: 170px;
    margin-bottom: 50px;
    align-items: left;
    transition: transform 0.5s;

  }

  .col-4 img{
    max-width: 100%;
    height: auto;
   
  }

  .title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
  }

  .title::after{
    content:'';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform:translateX(-50%)
  }

  h4{
    color: #555;
    font-weight: normal;
  }

  .col-4 p{
    font-size: 14px;
    
  }

  .rating  .fa{
    color: #ff523b;
  }

  .col-4:hover{
    transform: translateY(-5px);
    
  }

  .rating:hover i{
    transition: all 0.3s ease;
    padding-inline: 2px;
    color:#f44336;
}

 .submit{
     background: transparent;
    border: 2px solid rgb(188, 51, 51);
    color: rgb(96, 46, 46);
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;


 }

/*-------------productinfo---------------*/

.info{
    text-align: center;
    color: #0f0e0e;

}

.info h3{
    font-size: 25px;
    color: #777;
}

p{
    font-size: 17px;
}

.info h3 li{
    text-align: left;
}

.info .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}




